@{
    ViewData["Title"] = "Home Page";


}




<div class=" text-center row justify-content-md-center">

    <h1 class="font-italic col-11 col align-self-center">Seja Bem vindo  @ViewBag.usuario </h1>
    <button type="button"  id="btnsubmit" class="btn btn-primary col align-self-end">Logout</button>

</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>


        $("#btnsubmit").click(function (e) {
            

            $.ajax({
                url: "/Login/Logout",
                type: "POST",
                
                success: function (resposta) {


                    if (resposta.success == true) {
                        var url = '@Url.Action("Login", "Login")';
                        window.location.href = url;

                    }
                   


                },
                error: function (err) {
                    toastr.error("Algum erro inesperado surgiu");

                }

            });

        });

    </script>

}

