@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Clientes Index</h1>



<!-- Modal Adicionar Usuario -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AdicionarUsuario">
    Adicionar Cliente
</button>


<div class="modal fade" id="AdicionarUsuario" tabindex="-1" role="dialog" aria-labelledby="AdicionarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content  ">
            <div class="modal-header  alert-primary">
                <h2 class="col-12 modal-title text-center" id="AdicionarUsuarioLabel">CLIENTE</h2>

            </div>
            <div class="modal-body">




                
                
                
               
               

              

                <form id="formularioUsuario">

                   

                        <div class="form-row">
                            <div class="form-group  col-md-10">
                                <label for="razaoSocial">RazaoSocial</label>
                                <input type="text" name="RazaoSocial" class="form-control " id="razaoSocial" placeholder="RazaoSocial">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label for="nomeFantasia">NomeFantasia</label>
                                <input type="text" name="NomeFantasia" class="form-control " id="nomeFantasia" placeholder="NomeFantasia ">
                            </div>

                            <div class="form-group col-md-5 ">
                                <label for="cnpj">Cnpj</label>
                                <input type="text" name="Cnpj" class="form-control " id="Cnpj" placeholder="Cnpj">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="logradouro">Logradouro</label>
                                <input type="text" name="Logradouro" class="form-control  " id="logradouro" placeholder="Logradouro">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="numero">Número</label>
                                <input type="text" name="Numero" class="form-control  " id="numero" placeholder="Número">
                            </div>
                            <div class="form-group  col-md-5">
                                <label for="bairro">Bairro</label>
                                <input type="text" name="Bairro" class="form-control  " id="bairro" placeholder="Bairro">
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="complemento">Complemento</label>
                                <input type="text" name="Complemento" class="form-control  " id="complemento" placeholder="Complemento">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="municipio">Municipio</label>
                                <input type="text" name="Municipio" class="form-control  " id="municipio" placeholder="Municipio">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="CEP">CEP</label>
                                <input type="text" name="CEP" class="form-control  " id="CEP" placeholder="CEP">
                            </div>

                        </div>
                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button id="btnsubmit" type="button" class="btn btn-primary">Salvar</button>

                        </div>
                    
                </form>



            </div>

        </div>
    </div>
</div>





<!-- Modal Atualizar Usuario -->
<div class="modal fade" id="AtualizarUsuario" tabindex="-1" role="dialog" aria-labelledby="AtualizarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content  ">
            <div class="modal-header  alert-success">
                <h2 class="col-12 modal-title text-center" id="AtualizarUsuarioLabel">CLIENTE</h2>

            </div>
            <div class="modal-body">


                <form id="formAtualizarUsuario">



                    <div class="form-row">
                        <div class="form-group  col-md-10">
                            <label for="razaoSocial">RazaoSocial</label>
                            <input type="text" name="RazaoSocial" class="form-control " id="razaoSocial" placeholder="RazaoSocial">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="nomeFantasia">NomeFantasia</label>
                            <input type="text" name="NomeFantasia" class="form-control " id="nomeFantasia" placeholder="NomeFantasia ">
                        </div>

                        <div class="form-group col-md-5 ">
                            <label for="cnpj">Cnpj</label>
                            <input type="text" name="Cnpj" class="form-control " id="Cnpj" placeholder="Cnpj">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="logradouro">Logradouro</label>
                            <input type="text" name="Logradouro" class="form-control  " id="logradouro" placeholder="Logradouro">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="numero">Número</label>
                            <input type="text" name="Numero" class="form-control  " id="numero" placeholder="Número">
                        </div>
                        <div class="form-group  col-md-5">
                            <label for="bairro">Bairro</label>
                            <input type="text" name="Bairro" class="form-control  " id="bairro" placeholder="Bairro">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="complemento">Complemento</label>
                            <input type="text" name="Complemento" class="form-control  " id="complemento" placeholder="Complemento">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="municipio">Municipio</label>
                            <input type="text" name="Municipio" class="form-control  " id="municipio" placeholder="Municipio">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="CEP">CEP</label>
                            <input type="text" name="CEP" class="form-control  " id="CEP" placeholder="CEP">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button id="btnsubmit" type="button" class="btn btn-primary">Salvar</button>

                    </div>

                </form>



            </div>

        </div>
    </div>
</div>



<div>
    <table id="tabelaUsuario" class="table table-hover">
        <thead>

            <tr>
                <th>Nome completo</th>
                <th>Apelido</th>
                <th>Email</th>
                <th>Telefone de contato</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}








    <script>


        $("#btnsubmit").click(function (e) {
            var valdata = $("#formularioUsuario").serialize();

            $.ajax({
                url: "/Usuarios/Inserir",
                type: "POST",
                data: valdata,
                success: function () {

                    toastr.success("Usuario criado com sucesso");
                    $('#formularioUsuario').each(function () {
                        this.reset();
                    });
                    recarregarTabela();

                },
                error: function (err) {
                    toastr.error("Erro na criação do Usuario");
                }

            });

        });

    </script>



    <script>

        function carregarId(email) {

            var emailValor = email.item(0).id;


            $.ajax({
                url: "/Usuarios/VisualizarId",
                method: "GET",
                data: { 'email': emailValor },

                success: function (data) {

                    $("#nomeAtual").val(data.nomeCompleto);
                    $("#apelidoAtual").val(data.apelido);
                    $("#emailAtual").val(data.email);
                    $("#telefoneAtual").val(data.telefoneDeContato);

                },
                error: function (err) {

                }

            })


        };



    </script>

    <script>


        $("#btnsubmitAtualizar").click(function (e) {

            var valdata = $("#formAtualizarUsuario").serialize();

            $.ajax({
                url: "/Usuarios/Atualizar",
                type: "PUT",
                data: valdata,
                success: function () {

                    toastr.success("Usuario Atualizado com sucesso");

                    $('#formAtualizarUsuario').each(function () {
                        this.reset();
                    });
                    recarregarTabela();
                },
                error: function (err) {
                    toastr.error("Erro na atualização do Usuario");
                }

            });


        });

    </script>


    <script>
        $(document).ready(function () {
            $('#tabelaUsuario').DataTable({




                "language": {
                    "emptyTable": "Nenhum registro encontrado",
                    "search": ' <i class="fas fa-search"> </i> ',
                    "searchPlaceholder": 'Pesquisar',
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "zeroRecords": "Nenhum registro encontrado",

                    "paginate": {
                        "next": "Próximo",
                        "previous": "Anterior",
                        "first": "Primeiro",
                        "last": "Último"
                    },

                },




                "lengthChange": false,
                "ordering": false,
                "bInfo": false,

                "ajax": {
                    "url": "/Usuarios/Visualizar",
                    "dataSrc": ""
                },



                "columns": [

                    { "data": "nomeCompleto" },
                    { "data": "apelido" },
                    { "data": "email" },
                    { "data": "telefoneDeContato" },
                    {

                        "data": null,
                        "render": function (data, type, row) {
                            return `<input type=button class="btn btn-danger" id=` + data.email + ` onclick=deletar(` + data.email + `) value=Delete>`;
                        }
                        , "width": "5%"
                    },
                    {

                        "data": null,
                        "render": function (data, type, row) {
                            return `<input type=button class="btn btn-success" data-toggle="modal" data-target="#AtualizarUsuario" id=` + data.email + ` onclick=carregarId(` + data.email + `) value=atualizar>`;
                        }
                        , "width": "5%"
                    }

                ]

            });
        });


    </script>


    <script>
        function deletar(email) {

            var emailValor = email.item(0).id;


            $.ajax({
                url: "/Usuarios/Deletar",
                type: "DELETE",
                data: { 'email': emailValor },
                success: function (msg) {

                    toastr.success("Usuario deletado  com sucesso");
                    recarregarTabela();


                }

            });
        }
    </script>


    <script>
        function recarregarTabela() {

            $('#tabelaUsuario').DataTable().ajax.reload();
        }
    </script>


}
