@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Clientes Index</h1>



<!-- Modal Adicionar Cliente-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AdicionarCliente">
    Adicionar Cliente
</button>


<div class="modal fade" id="AdicionarCliente" tabindex="-1" role="dialog" aria-labelledby="AdicionarClienteLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content  ">
            <div class="modal-header  alert-primary">
                <h2 class="col-12 modal-title text-center" id="AdicionarClienteLabel">CLIENTE</h2>

            </div>
            <div class="modal-body">


              

                <form id="formularioCliente">

                   

                        <div class="form-row">
                            <div class="form-group  col-md-10">
                                <label for="razaoSocial">RazaoSocial</label>
                                <input type="text" name="RazaoSocial" class="form-control " id="razaoSocial" placeholder="RazaoSocial">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label for="nomeFantasia">NomeFantasia</label>
                                <input type="text" name="NomeFantasia" class="form-control " id="nomeFantasia" placeholder="NomeFantasia ">
                            </div>

                            <div class="form-group col-md-5 ">
                                <label for="cnpj">Cnpj</label>
                                <input type="text" name="Cnpj" class="form-control " id="Cnpj" placeholder="Cnpj">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="logradouro">Logradouro</label>
                                <input type="text" name="Logradouro" class="form-control  " id="logradouro" placeholder="Logradouro">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="numero">Número</label>
                                <input type="text" name="Numero" class="form-control  " id="numero" placeholder="Número">
                            </div>
                            <div class="form-group  col-md-5">
                                <label for="bairro">Bairro</label>
                                <input type="text" name="Bairro" class="form-control  " id="bairro" placeholder="Bairro">
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="complemento">Complemento</label>
                                <input type="text" name="Complemento" class="form-control  " id="complemento" placeholder="Complemento">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="municipio">Municipio</label>
                                <input type="text" name="Municipio" class="form-control  " id="municipio" placeholder="Municipio">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="CEP">CEP</label>
                                <input type="text" name="CEP" class="form-control  " id="CEP" placeholder="CEP">
                            </div>

                        </div>
                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button id="btnsubmit" type="button" class="btn btn-primary">Salvar</button>

                        </div>
                    
                </form>



            </div>

        </div>
    </div>
</div>





<!-- Modal Atualizar Cliente -->
<div class="modal fade" id="AtualizarCliente" tabindex="-1" role="dialog" aria-labelledby="AtualizarClienteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content  ">
            <div class="modal-header  alert-success">
                <h2 class="col-12 modal-title text-center" id="AtualizarClienteLabel">CLIENTE</h2>

            </div>
            <div class="modal-body">


                <form id="formAtualizarCliente">



                    <div class="form-row">
                        <div class="form-group  col-md-10">
                            <label for="razaoSocial">RazaoSocial</label>
                            <input type="text" name="RazaoSocial" class="form-control " id="razaoSocialAtual" placeholder="RazaoSocial">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="nomeFantasia">NomeFantasia</label>
                            <input type="text" name="NomeFantasia" class="form-control " id="nomeFantasiaAtual" placeholder="NomeFantasia ">
                        </div>

                        <div class="form-group col-md-5 ">
                            <label for="cnpj">Cnpj</label>
                            <input type="text" name="Cnpj" class="form-control " id="CnpjAtual" placeholder="Cnpj">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="logradouro">Logradouro</label>
                            <input type="text" name="Logradouro" class="form-control  " id="logradouroAtual" placeholder="Logradouro">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="numero">Número</label>
                            <input type="text" name="Numero" class="form-control  " id="numeroAtual" placeholder="Número">
                        </div>
                        <div class="form-group  col-md-5">
                            <label for="bairro">Bairro</label>
                            <input type="text" name="Bairro" class="form-control  " id="bairroAtual" placeholder="Bairro">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="complemento">Complemento</label>
                            <input type="text" name="Complemento" class="form-control  " id="complementoAtual" placeholder="Complemento">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="municipio">Municipio</label>
                            <input type="text" name="Municipio" class="form-control  " id="municipioAtual" placeholder="Municipio">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="CEP">CEP</label>
                            <input type="text" name="CEP" class="form-control  " id="CEPAtual" placeholder="CEP">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button id="btnsubmitAtualizar" type="button" class="btn btn-primary">Salvar</button>

                    </div>

                </form>



            </div>

        </div>
    </div>
</div>



<div>
    <table id="tabelaCliente" class="table text-center table-hover">
        <thead>

            <tr>
                <th>Razão Social</th>
                <th>Nome Fantasia</th>
                <th>CNPJ</th>
                <th>Logradouro</th>
                <th>Numero</th>
                <th>Bairro</th>
                <th>Complemento</th>
                <th>Municipio</th>
                <th>CEP</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}








    <script>


        $("#btnsubmit").click(function (e) {
            var valdata = $("#formularioCliente").serialize();

            $.ajax({
                url: "/Clientes/Inserir",
                type: "POST",
                data: valdata,
                success: function () {

                    toastr.success("Cliente criado com sucesso");
                    $('#formularioCliente').each(function () {
                        this.reset();
                    });
                    recarregarTabela();

                },
                error: function (err) {
                    toastr.error("Erro na criação do Cliente");
                }

            });

        });

    </script>



    <script>

        function carregarId(cnpj) {

            var cnpjValor = cnpj.item(0).id;

           

            $.ajax({
                url: "/Clientes/VisualizarId",
                method: "GET",
                data: { 'cnpj': cnpjValor },

                success: function (data) {


                   

                    $("#razaoSocialAtual").val(data.razaoSocial);
                    $("#nomeFantasiaAtual").val(data.nomeFantasia);
                    $("#CnpjAtual").val(data.cnpj);
                    $("#logradouroAtual").val(data.logradouro);
                    $("#numeroAtual").val(data.numero);
                    $("#bairroAtual").val(data.bairro);
                    $("#complementoAtual").val(data.complemento);
                    $("#municipioAtual").val(data.municipio);
                    $("#CEPAtual").val(data.cep);



                },
                error: function (err) {

                }

            })


        };



    </script>

    <script>


        $("#btnsubmitAtualizar").click(function (e) {

            var valdata = $("#formAtualizarCliente").serialize();

            $.ajax({
                url: "/Clientes/Atualizar",
                type: "PUT",
                data: valdata,
                success: function () {

                    toastr.success("Cliente Atualizado com sucesso");

                    $('#formAtualizarCliente').each(function () {
                        this.reset();
                    });
                    recarregarTabela();
                },
                error: function (err) {
                    toastr.error("Erro na atualização do Cliente");
                }

            });


        });

    </script>


    <script>
        $(document).ready(function () {
            $('#tabelaCliente').DataTable({




                "language": {
                    "emptyTable": "Nenhum registro encontrado",
                    "search": ' <i class="fas fa-search"> </i> ',
                    "searchPlaceholder": 'Pesquisar',
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "zeroRecords": "Nenhum registro encontrado",

                    "paginate": {
                        "next": "Próximo",
                        "previous": "Anterior",
                        "first": "Primeiro",
                        "last": "Último"
                    },

                },




                "lengthChange": false,
                "ordering": false,
                "bInfo": false,

                "ajax": {
                    "url": "/Clientes/Visualizar",
                    "dataSrc": ""
                },
            
        


                "columns": [

                    { "data": "razaoSocial" },
                    { "data": "nomeFantasia" },
                    { "data": "cnpj" },
                    { "data": "logradouro" },
                    { "data": "numero" },
                    { "data": "bairro" },
                    { "data": "complemento" },
                    { "data": "municipio" },
                    { "data": "cep" },
                    {

                        "data": null,
                        "render": function (data, type, row) {
                            return `<input type=button class="btn btn-danger" id=` + data.cnpj + ` onclick=deletar(` + data.cnpj + `) value=Delete>`;
                        }
                        , "width": "5%"
                    },
                    {

                        "data": null,
                        "render": function (data, type, row) {
                            return `<input type=button class="btn btn-success" data-toggle="modal" data-target="#AtualizarCliente" id=` + data.cnpj + ` onclick=carregarId(` + data.cnpj + `) value=atualizar>`;
                        }
                        , "width": "5%"
                    }

                ]

            });
        });


    </script>


    <script>
        function deletar(cnpj) {

            var cnpjValor = cnpj.item(0).id;


            $.ajax({
                url: "/Clientes/Deletar",
                type: "DELETE",
                data: { 'cnpj': cnpjValor },
                success: function (msg) {

                    toastr.success("Usuario deletado  com sucesso");
                    recarregarTabela();


                }

            });
        }
    </script>


    <script>
        function recarregarTabela() {

            $('#tabelaCliente').DataTable().ajax.reload();
        }
    </script>


}
