<h2>Inserir</h2>



<form id="friendform">
    <table>
        <tr>
            <td>Friend Name</td>
            <td><input id="nomeCompleto" name="NomeCompleto" type="text" /></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input id="apelido" name="Apelido" type="text" /></td>
        </tr>
        <tr>
            <td>State</td>
            <td><input id="email" name="Email" type="text" /></td>
        </tr>
        <tr>
            <td>State</td>
            <td><input id="telefone" name="TelefoneDeContato" type="text" /></td>
        </tr>
    </table>
    <input id="btnsubmit" type="button" value="Submit" />
</form>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>


        $(document).ready(function () {
            $("#btnsubmit").click(function (e) {
                
                var valdata = $("#friendform").serialize();
                
                $.ajax({
                    url: "/Usuarios/Atualizar",
                    type: "PUT",
                    data: valdata
                
                });

                 $('#friendform').each(function () {
                    this.reset();
                });

            });
        });
    </script>

    }