
@model SistemaCadastrodeUsuariosClientes.Models.Usuario

<h1>Deletar</h1>


<form id="friendform">
    <table>
       
        <tr>
            <td>State</td>
            <td><input id="email" name="Email" type="text" /></td>
        </tr>
        
    </table>
    <input id="btnsubmit" type="button" value="Submit" />
</form>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>


        $(document).ready(function () {
            $("#btnsubmit").click(function (e) {
                
                var valdata = $("#friendform").serialize();
              
                $.ajax({
                    url: "/Usuarios/Deletar",
                    type: "DELETE",
                    data: valdata,
                 
                });

                 $('#friendform').each(function () {
                    this.reset();
                });

            });
        });
    </script>

}