@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}








<h1> Usuario Index</h1>





<!-- Modal Adicionar Usuario -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AdicionarUsuario">
    Adicionar usuario
</button>


<div class="modal fade" id="AdicionarUsuario" tabindex="-1" role="dialog" aria-labelledby="AdicionarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content  ">
            <div class="modal-header  alert-primary">
                <h2 class="col-12 modal-title text-center" id="AdicionarUsuarioLabel">USUÁRIO</h2>

            </div>
            <div class="modal-body">





                <form id="formularioUsuario">

                    <div class="form-group ">
                        <label for="nomeCompleto">Nome Completo</label>
                        <input type="text" name="NomeCompleto" class="form-control form-control-border border-width-2" id="nomeCompleto" placeholder="Digite seu Nome Completo">
                    </div>
                    <div class="form-group">
                        <label for="apelido">Apelido</label>
                        <input type="text" name="Apelido" class="form-control form-control-border border-width-2" id="apelido" placeholder="Digite seu Apelido ">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="Email" class="form-control form-control-border border-width-2" id="email" placeholder="Digite seu Email">
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input type="tel" name="TelefoneDeContato" class="form-control  form-control-border border-width-2" id="telefone" placeholder="digite seu telefone">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button id="btnsubmit" type="button" class="btn btn-primary">Salvar</button>

                    </div>

                </form>



            </div>

        </div>
    </div>
</div>





<!-- Modal Atualizar Usuario -->
<div class="modal fade" id="AtualizarUsuario" tabindex="-1" role="dialog" aria-labelledby="AtualizarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content  ">
            <div class="modal-header  alert-success">
                <h2 class="col-12 modal-title text-center" id="AtualizarUsuarioLabel">USUARIO</h2>

            </div>
            <div class="modal-body">


                <form id="formAtualizarUsuario">

                    <div class="form-group ">
                        <label for="nomeCompleto">Nome Completo</label>
                        <input type="text" name="NomeCompleto" class="form-control form-control-border border-width-2" id="nomeAtual" placeholder="Digite seu Nome Completo">
                    </div>
                    <div class="form-group">
                        <label for="apelido">Apelido</label>
                        <input type="text" name="Apelido" class="form-control form-control-border border-width-2" id="apelidoAtual" placeholder="Digite seu Apelido ">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="Email" class="form-control form-control-border border-width-2" id="emailAtual" placeholder="Digite seu Email">
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input type="tel" name="TelefoneDeContato" class="form-control form-control-border border-width-2" id="telefoneAtual" placeholder="digite seu telefone">
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button id="btnsubmitAtualizar" type="button" class="btn btn-success">Atualizar</button>

                    </div>

                </form>



            </div>

        </div>
    </div>
</div>



<div>
    <table id="tabelaUsuario" class="table text-center table-hover">
        <thead>

            <tr>
                <th>Nome completo</th>
                <th>Apelido</th>
                <th>Email</th>
                <th>Telefone de contato</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}








    <script>


        $("#btnsubmit").click(function (e) {
            var valdata = $("#formularioUsuario").serialize();

            $.ajax({
                url: "/Usuarios/Inserir",
                type: "POST",
                data: valdata,
                success: function () {

                    toastr.success("Usuario criado com sucesso");
                    $('#formularioUsuario').each(function () {
                        this.reset();
                    });
                    recarregarTabela();

                },
                error: function (err) {
                    toastr.error("Erro na criação do Usuario");
                }

            });

        });

    </script>



    <script>

        function carregarId(email) {

            var emailValor = email.item(0).id;


            $.ajax({
                url: "/Usuarios/VisualizarId",
                method: "GET",
                data: { 'email': emailValor },

                success: function (data) {

                    $("#nomeAtual").val(data.nomeCompleto);
                    $("#apelidoAtual").val(data.apelido);
                    $("#emailAtual").val(data.email);
                    $("#telefoneAtual").val(data.telefoneDeContato);

                },
                error: function (err) {

                }

            })


        };



    </script>

    <script>


        $("#btnsubmitAtualizar").click(function (e) {

            var valdata = $("#formAtualizarUsuario").serialize();

            $.ajax({
                url: "/Usuarios/Atualizar",
                type: "PUT",
                data: valdata,
                success: function () {

                    toastr.success("Usuario Atualizado com sucesso");

                    $('#formAtualizarUsuario').each(function () {
                        this.reset();
                    });
                    recarregarTabela();
                },
                error: function (err) {
                    toastr.error("Erro na atualização do Usuario");
                }

            });


        });

    </script>


    <script>
        $(document).ready(function () {
            $('#tabelaUsuario').DataTable({




                "language": {
                    "emptyTable": "Nenhum registro encontrado",
                    "search": ' <i class="fas fa-search"> </i> ',
                    "searchPlaceholder": 'Pesquisar',
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "zeroRecords": "Nenhum registro encontrado",

                    "paginate": {
                        "next": "Próximo",
                        "previous": "Anterior",
                        "first": "Primeiro",
                        "last": "Último"
                    },

                },




                "lengthChange": false,
                "ordering": false,
                "bInfo": false,

                "ajax": {
                    "url": "/Usuarios/Visualizar",
                    "dataSrc": ""
                },



                "columns": [

                    { "data": "nomeCompleto" },
                    { "data": "apelido" },
                    { "data": "email" },
                    { "data": "telefoneDeContato" },
                    {

                        "data": null,
                        "render": function (data, type, row) {
                            return `<input type=button class="btn btn-danger" id=` + data.email + ` onclick=deletar(` + data.email + `) value=Delete>`;
                        }
                        , "width": "5%"
                    },
                    {

                        "data": null,
                        "render": function (data, type, row) {
                            return `<input type=button class="btn btn-success" data-toggle="modal" data-target="#AtualizarUsuario" id=` + data.email + ` onclick=carregarId(` + data.email + `) value=atualizar>`;
                        }
                        , "width": "5%"
                    }

                ]

            });
        });


    </script>


    <script>
        function deletar(email) {

            var emailValor = email.item(0).id;


            $.ajax({
                url: "/Usuarios/Deletar",
                type: "DELETE",
                data: { 'email': emailValor },
                success: function (msg) {

                    toastr.success("Usuario deletado  com sucesso");
                    recarregarTabela();


                }

            });
        }
    </script>


    <script>
        function recarregarTabela() {

            $('#tabelaUsuario').DataTable().ajax.reload();
        }
    </script>


}
