@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}







<!-- Main content -->
<!--<div class="card">
    <div class="card-header">
        <h3 class="card-title">Bordered Table</h3>
    </div>-->
<!-- /.card-header -->
<!--<div class="card-body">
    <table id="tabelaUsuario"  class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Task</th>
                <th>Progress</th>
                <th >Label</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Update software</td>
                <td>   </td>

                <td> </td>

            </tr>
            <tr>
                <td>2.</td>
                <td>Clean database</td>
                <td>  </td>

                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Cron job running</td>
                <td>   </td>

                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Fix and squish bugs</td>
                <td>   </td>

                <td></td>
            </tr>
        </tbody>
    </table>
</div>-->
<!-- /.card-body -->
<!--<div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>-->

<h1> Usuario Index</h1>



<button type="button" class="btn btn-danger">DELETE</button>

<!-- Botão para acionar modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AdicionarUsuario">
   Adicionar usuario
</button>

<!-- Modal -->
<div class="modal fade" id="AdicionarUsuario" tabindex="-1" role="dialog" aria-labelledby="AdicionarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header  ">
                <h5 class="col-12 modal-title text-center" id="AdicionarUsuarioLabel">USUÁRIO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            
                

                
                <form>
                    <div class="form-group ">
                        <label for="exampleInputEmail1">Endereço de email</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
                        <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div>


<table id="tabelaUsuario" class="table">
    <thead>

    </thead>
    <tbody id="teste">
    </tbody>
</table>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}





    <script>

        $("#tabelaUsuario").ready(function () {
            BtnClick();
        });


    </script>

    <script>
        function BtnClick() {

            $.ajax({
                url: "/Usuarios/Visualizar",
                method: "GET",

                success: function (data) {
                    console.log(data);
                    console.log(data);


                    $("thead").append("<tr> <th >Nome</th>  <th >Apelido</th>  <th >Email</th>  <th >Telefone</th> <th >Botoes</th> </tr>");
                    $.each(data, function (index, value) {
                        console.log(value.apelido);

                        $("tbody").append('<tr><td>' + value.nomeCompleto + '</td><td>' + value.apelido + '</td><td>'
                            + value.email + '</td><td>' + value.telefoneDeContato + '</td> <td>' +
                            '<input type=button id=' + value.email + ' onclick=deletar(this.id) value=Delete ' + '/' + '>' + ' </td></tr> ');




                    });



                },
                error: function (err) {
                    console.error(error)
                }


            })

        }

    </script>

    <script>
        function deletar(email) {

            console.log(email);
            var data = JSON.stringify(email);
            console.log(data);

            $.ajax({
                url: "/Usuarios/Deletar",
                type: "DELETE",
                data: { 'email': email },
                success: function (msg) {


                    $("thead").empty();
                    $("tbody").empty();
                    BtnClick();
                }

            });
        }
    </script>

    <script>
        function tabela() {


            $("thead").empty();
            $("tbody").empty();
            BtnClick();
        }



    </script>
}
